@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
  --green-color: #6BD425;
  --blue-color: #2B59C3;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #273E47;
  background-color: #FFFCF2;

}

h1 {
  color: #ED6A5E;
  font-family: 'Fredoka One', cursive;
  font-size: 2.5rem;
  margin-top: 5vh;
}

h2 {
  grid-area: 1/1/1/4;
}

.noTransition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.interfaceButton {
  font-size: 2.5rem;
  text-align: center;
}

.settingsDiv button {
  border: none;
  background: none;
  width: 2rem;
  margin: 0 20px;
  padding: 0;
  font-size: inherit;
  font-weight: 300;
  opacity: 0;
  transition: opacity 0.5s;
  transition-timing-function: cubic-bezier(.95, .05, .8, .4);
}

.settingsDiv {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  margin-top: 5%;
  font-weight: 300;
  font-size: 0;
  transition: font-size 0.8s;
  transition-timing-function: cubic-bezier(.68, -0.55, .27, 1.55);
}

.settingsDiv button:focus {
  outline: none;
}

#sessionSettings, #breakSettings {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  text-align: left;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.settingsSelectors {
  display: flex;
  margin-left: 20px;
}

#breakTimeSelector, #sessionTimeSelector {
  margin: 0 10px;
  width: 16px;
}

.settingsDiv, #clock-interface {
  max-width: 600px;
  width: 60%;
}

#clockDisplay {
  grid-area: 1/1/1/5;
  text-align: center;
  font-size: 7rem;
}

#clock-interface {
  display: grid;
  margin-top: 4vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3fr 1fr 1fr;
  grid-row-gap: 2vh;
}

.breakTimeColor {
  color: var(--blue-color);
}

.roundIndicatorDiv {
  grid-area: 2/1/2/5;
  display: flex;
  align-content: center;
  justify-content: center;
}

.roundIndicator {
  border: 1px solid var(--green-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.roundIndicator:not(:first-child) {
  margin-left: 20px;
}

.roundCompleted {
  background-color: var(--green-color);
}

#settingsButtonContainer {
  grid-area: 1/3/1/3;
  text-align: right;
  font-size: inherit;
  right: 0;
  top: 0;
}

#settingsButton {
  transform-origin: top right;
  transition: transform .6s;
}

#playButton {
  color: var(--green-color);
}

#pauseButton {
  color: var(--blue-color);
}

#restartButton {
  color: #FF6700;
}

.fa-pause-circle, .fa-play-circle, .fa-redo {
  opacity: 0.8;
}

.fa-pause-circle:hover, .fa-play-circle:hover, .fa-redo:hover {
  opacity: 1;
}

.fa-pause-circle:active {
  color: #2751b3;
}
.fa-play-circle:active {
  color: #5bb520;
}
.fa-redo:active {
  color: #ec612a;
}

.resetRotate {
  animation-name: resetRotate;
  animation-duration: 1s;
}

@keyframes resetRotate {
  100% {
    transform: rotate(720deg);
  }
}

.buttonShake {
  animation-name: shake;
  animation-duration: 0.4s;
}

@keyframes shake {
  0% {transform: translate(1px, 1px) rotate(0deg)}
  10% {transform: translate(-1px, -2px) rotate(-1deg)}
  20% {transform: translate(-3px, 0px) rotate(1deg)}
  30% {transform: translate(3px, 2px) rotate(0deg);}
  40% {transform: translate(1px, -1px) rotate(1deg)}
  50% {transform: translate(-1px, 2px) rotate(-1deg)}
  60% {transform: translate(-3px, 1px) rotate(0deg)}
  70% {transform: translate(3px, 1px) rotate(-1deg)}
  80% {transform: translate(-1px, -1px) rotate(1deg)}
  90% {transform: translate(1px, 2px) rotate(0deg)}
  100% {transform: translate(1px, -2px) rotate(-1deg)}
}

.wrenchRotate {
  transform: rotate(360deg);
}

.show {
  font-size: inherit;
}

.show button {
  opacity: 1;
}

@media (max-width: 1000px) {
  h1 {font-size: 4rem;}

  #clockDisplay {font-size: 10rem;}

  #clock-interface {
    grid-template-rows: 1fr 0.5fr 1fr;
  }

  .roundIndicator {
    width: 40px;
    height: 40px;
  }

  #settingsButton {font-size: 2.5rem;}

  .interfaceButton {
    font-size: 6rem;
  }

  #sessionSettings, #breakSettings {
    width: 80%;
  }

  .show {
    font-size: 2rem;
  }
}
